<form [formGroup]="merchantForm">

    <!-- Nombre -->
    <input
        type="text"
        placeholder="nombre"
        formControlName="name"
    >

    @if (nameControl?.invalid && nameControl?.touched) {

        <div class="error">

            @if (nameControl?.errors?.['required']) {
            <span>El nombre es obligatorio</span>
            }

            @if (nameControl?.errors?.['minlength']) {
            <span>Mínimo 3 caracteres</span>
            }

        </div>
    }    

    <h3>Selecciona los objetos que quieres que venda.</h3>

    <app-item-search
            [items]="items"
            placeholder="Buscar objeto para vender..."
            (itemSelected)="onSellingItemSelected($event)"
    />

    <h2>Objetos que vende</h2>

    @if (sellingList.length == 0) {
        <span>Todavía no se han seleccionado objetos</span>
    }

    <div formArrayName="sellingList">

        @for (group of sellingList.controls; track $index; let i = $index) {

            <div [formGroupName]="i">

                <p>
                    {{
                        getItemById(group.get('itemId')?.value)?.name
                    }}
                </p>

                <input
                    type="number"
                    formControlName="price"
                >

                <input
                    type="number"
                    formControlName="quantity"
                >

            </div>

        }

    </div>

    @if (
        sellingList.errors?.['minArrayLength']
        && merchantForm.touched
    ) {

        <div class="error">
            Debe haber al menos un objeto en venta
        </div>
    }

    <hr class="modal-divider" />

    <h3>Selecciona los objetos que acepta comprar.</h3>

    <app-item-search
        [items]="items"
        placeholder="Buscar objeto para comprar..."
        (itemSelected)="onBuyingItemSelected($event)"
    />

    <h2>Objetos que compra</h2>

    @if (buyingList.length == 0) {
        <span>Todavía no se han seleccionado objetos</span>
    }


    <div formArrayName="buyingList">

        @for (group of buyingList.controls; track $index; let i = $index) {

            <div [formGroupName]="i">

                <p>
                    {{
                        getItemById(group.get('itemId')?.value)?.name
                    }}
                </p>

                <input
                    type="number"
                    formControlName="price"
                >

                <input
                    type="number"
                    formControlName="quantity"
                >

            </div>

        }

    </div>

    <button type="submit" (click)="saveMerchant()" [disabled]="merchantForm.invalid">Guardar</button>
    <button type="button" (click)="cancel()">Cancelar</button>

</form>
