<form class="inventory-item" [formGroup]="form">
  @if (isInInventory()) {
    <input type="number" formControlName="quantity" class="qty-input" placeholder="Cant.">
  }
  <input type="number" formControlName="Peso" class="qty-input" placeholder="Peso">
  <input class="name-input" placeholder="Objeto...">
  <input class="desc-input" placeholder="Descripción...">

  @if(isInInventory()) {
    <button type="button" class="btn-delete" (click)="removeItem()">
      Borrar objeto
    </button>
  } @else {
    <button type="submit" class="btn-delete" (click)="saveItem()">
      Guardar objeto
    </button>
  }

</form>
