<header class="app-header">
  <div class="header-inner">
    <img class="header-logo" src="/logo.png" alt="PS D&D Logo">
    <div class="header-title">
      <span class="header-title-main">Sheets & Notes</span>
      <span class="header-title-sub">Dungeons &amp; Dragons</span>
    </div>
    <div class="header-actions">
      <p>{{usernameService.getCurrentUsername()}}</p>
      <button class="logout-button" (click)="logout()" title="Cerrar sesión">Cerrar sesión</button>
    </div>
  </div>
  <div class="header-border-bottom"></div>
</header>
