<div class="history-container">
  <h3> Registro de Tiradas </h3>

  <div class="log-entries">
    @for (session of history$ | async; track session.id) {
      <div class="session-block">
        <small>Sesión finalizada el: {{ session.finalizedAt?.toDate() | date:'short' }}</small>

        @for (roll of session.rolls; track roll.timestamp) {
          <div class="roll-entry">
            <span class="user">[{{ roll.userName }}]</span>
            <span class="label"> Tiró d{{ roll.data.side }}:</span>
            <strong [class.crit]="roll.data.isNat20" [class.fail]="roll.data.isNat1">
              {{ roll.data.result }}
            </strong>
            <span class="details">(Dados: {{ roll.data.throws.join(', ') }} + {{ roll.data.bonus }})</span>
          </div>
        }
      </div>
    } @empty {
      <p>No hay leyendas registradas aún.</p>
    }
  </div>
</div>
